<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdgaccra.ice">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ice_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logotemp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name="com.gdgaccra.ice.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.gdgaccra.ice.SafetyActivity" />
        <activity android:name="com.gdgaccra.ice.FirstAidActivity" />
        <activity android:name="com.gdgaccra.ice.RoadSafetyListActivity" />
        <activity android:name="com.gdgaccra.ice.WorkSafetyListActivity" />
        <activity android:name="com.gdgaccra.ice.AirSafetyListActivity" />
        <activity android:name="com.gdgaccra.ice.HomeSafetyListActivity" />
        <activity android:name="com.gdgaccra.ice.RoadAidListActivity" />
        <activity android:name="com.gdgaccra.ice.HomeAidListActivity" />
        <activity android:name="com.gdgaccra.ice.WorkAidListActivity" />
        <activity android:name="com.gdgaccra.ice.OtherAidListActivity" />
        <activity android:name="com.gdgaccra.ice.about_activity" />
        <activity android:name="com.gdgaccra.ice.help_activity" />
        <activity android:name="com.gdgaccra.ice.MainActivity" />


    </application>

</manifest>