<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ispacegh.ice">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ice_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logotemp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SafetyActivity" />
        <activity android:name=".FirstAidActivity" />
        <activity android:name=".RoadSafetyListActivity" />
        <activity android:name=".WorkSafetyListActivity" />
        <activity android:name=".AirSafetyListActivity" />
        <activity android:name=".HomeSafetyListActivity" />
        <activity android:name=".RoadAidListActivity" />
        <activity android:name=".HomeAidListActivity" />
        <activity android:name=".WorkAidListActivity" />
        <activity android:name=".OtherAidListActivity" />
        <activity android:name=".about_activity" />
        <activity android:name=".help_activity" />
        <activity android:name=".MainActivity" />


    </application>

</manifest>